body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #EDE2DC;
}
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-button{
    padding: 10px 20px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 30px;

}